{% extends 'partial/layout.html' %}    
{% block nav %}
  {% include "partial/nav.html" %}
{% endblock nav %}
{% block slide %}
  {% include "partial/slide.html" %}
{% endblock  %}
{% block bg-light %}
  {% include "partial/bg-light.html" %}
{% endblock bg-light %}	
{% block jobs %}
  {% include "partial/jobs.html" %}
{% endblock jobs %}
    
{% block recent-job %}
  {% include "partial/recent-job.html" %}
{% endblock recent-job %}
		
{% block jmrc %}
  {% include "partial/jmrc.html" %}
{% endblock jmrc %}
   
{% block testimony %}
  {% include "partial/testimony.html" %}
{% endblock testimony %} 
{% block blog %}
  {% include "partial/blog.html" %}
{% endblock blog %}
   
{% block subcribe %}
  {% include "partial/subcribe.html" %}
{% endblock subcribe %}
{% block footer %}
  {% include "partial/footer.html" %}
{% endblock footer %}
{% block script %}
  {% include "partial/script.html" %}
{% endblock script %}
    
  